:root {
  --fluid-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fluid-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fluid-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fluid-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fluid-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fluid-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fluid-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

header {
  padding: 1em;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 10em;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  padding: 0;
  padding-left: 1.5em;
  list-style-type: none;
}

a {
  text-decoration: none;
}

header nav ul li a:link,
header nav ul li a:visited {
  font-weight: 500;
  color: #222;
  font-size: var(--fluid-md);
  text-transform: uppercase;
}

header nav ul li a:hover {
  text-decoration: underline;
}

section,
footer {
  padding: 2em 1em;
  border-top: solid #fbfbfb 3px;
}

.wrapper {
  margin: 0 auto;
}

#intro #grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em 0;
}

#intro #grid img:first-child {
  grid-column: 1/4;
}

#intro #grid img {
  border-radius: 3px;
}

h1 {
  font-size: var(--fluid-xl);
  font-weight: 500;
  margin: 0;
}

#limited {
  font-weight: bold;
  font-size: var(--fluid-sm);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

button {
  background-color: #222;
  border-radius: 6px;
  padding: .5em 1em;
  text-align: center;
}

button a {
 color: #fff;
}

button a:hover,
button a:focus {
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-size: var(--fluid-md);
  padding-bottom: 1em;
}

#review {
  color: #fff;
  background-color: #222;
  border: none;
}

#quote {
  padding: 0 3.5em;
}

blockquote {
  margin: 2em auto 1em auto;
}

#try-it #grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
  text-align: center;
}

#try-it #grid img {
  border-radius: 6px 6px 0 0;
}

article {
  background-color: #fbfbfb;
  border-radius: 0 0 6px 6px;
}

footer {
  text-align: center;
}